/*logo*/
.site-heading .logo-container .logo-img {
  width: 100px !important;
  height: 100px !important;
  max-width: 100px !important;
  max-height: 100px !important;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 30px;
  top: -80%;
  transform: translateY(-50%);
}

.navbar-brand .logo-img-mobile {
  width: 40px !important;
  height: 40px !important;
  max-width: 40px !important;
  max-height: 40px !important;
  border-radius: 50%;
}

.logo-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.site-heading-lower {
  text-align: center;
}

/* contacts */
.contact-item {
  background: rgba(255, 255, 255, 0.1);
  border: 5px solid rgba(255, 255, 255, 0.1);
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  transition: all 0.3s ease;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;

}

.contact-item:hover {
  background: rgba(255, 255, 255, 0.15);
  border-color: rgba(255, 255, 255, 0.2);
  transform: translateY(-2px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

.contact-icon {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: e6a756;
}

.contact-link {
  color: inherit;
  text-decoration: underline;
  font-weight: 500;
  transition: color 0.3s ease;
}

.contact-link:hover {
  color: #d4956b;
  text-decoration: underline;
}

/* links */
.plain-link {
  color: inherit;
}

